<!DOCTYPE html>
<form action="addnew" method="post">

Telephone number: <input name="name"></input><br />

<textarea name="message"></textarea><br />

<button type="submit">Post Message</button>

</form>
